.error {
    color: red;
    float: right;
}

.fc-event,
.fc-event:hover {
    color: #fff !important;
    text-decoration: none;
}

.container.bg {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
}


/*
  Colour scheme: https://coolors.co/13293d-a49966-d34e24-d4cbe5-0b5d1e
*/

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-basis: auto;
}

.login {
    font-family: "Archivo Black", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    min-height: 100vh;
    order: 2;
    flex-grow: 1;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inputs {
    padding: 20px 0 20px;
}

.side-image {
    background: url(../images/bg.jpg) #13293d;
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    order: 1;
    flex: 4 1 0;
}

button {
    background-color: #13293d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-width: 3px;
    border-color: linen;
    border-radius: 25px;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    font-size: large;
    font-weight: bolder;
}

button:hover {
    background-color: white;
    color: #13293d;
    border-color: #13293d;
}

.inputs #email,
#password {
    padding: 10px 20px 5px 0;
    margin: 8px 0;
    font-size: x-large;
    color: #13293d;
    border: none;
    border-bottom: 2px solid grey;
}

.inputs #email:focus,
#password:focus {
    border-bottom: 2px solid #13293d;
    outline: none;
}